html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app_videos {
    position: relative;
    height: 88%;
    border-radius: 20px;
    overflow-y: scroll;
    width: 65%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar {
    display: none;
}

.app_videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}