html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: black;
    display: grid;
    place-items: center;
}

.app_videos {
    position: relative;
    height: 88%;
    border-radius: 20px;
    overflow-y: scroll;
    width: 60%;
    max-width: 400px;
    scroll-snap-type: y mandatory;
}

/* Small Devices, Tablets */

@media only screen and (max-width: 700px) {
    .app_videos {
        position: relative;
        height: 100%;
        border-radius: 0px;
        overflow-y: scroll;
        width: 100%;
        max-width: unset;
        scroll-snap-type: y mandatory;
    }
}


/* Hiding the scroll bar */
.app_videos::-webkit-scrollbar {
    display: none;
}

.app_videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}